.deroul{
    padding: 5%;
}

.deroul-lign{
    width: 15%;
    height: 4px;
    background-color: #0d6efd;
    margin: auto;
    margin-bottom: 20px;
}

.deroul-image{
    width: 100%;
}
.accordion_link{
    text-decoration: none;
}