
*{
  font-family: "Nunito Sans", sans-serif;
}

/*--header--*/
.App-header {
  margin: 0 auto;
  width: 100%;
  height: 85px;
  position: relative;
}

.burger{
 display: none;
}

.background {
  width: 100%;
  height: 100%;
  background: #444444;
  position: absolute;
  top: 0;
  left: 0;
}

.header-content {
  position: absolute;
  top: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.about-lign{
  width: 100%;
  height: 4px;
  background-color: #0d6efd;
  margin: auto;
  margin-bottom: 20px;
}

.image_nav{
  width: 45px;
  padding-left: 5px;
}

.menu ul {
  list-style: none;
  padding-left: 10px;
  margin: 0;
  display: flex;
}

.menu a {
  color: #97989A;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  padding-right: 10px;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover{
  color: #EEE;
  opacity: 0.8;
}

/*--footer--*/
.App-footer { 
  width: 100%; 
  display: block;
  bottom: 0;
  left: 0;
  font-size: 16px;
  font-weight: 400;
}

.footer-content {
  background-color: #EEEEEE;   
  padding: 40px 40px;
}

i{
  padding-right: 10px;
  color: black;
}

.footer_span{
  color: #0d6efd;  
}
.footer_link{
  color:black;
  text-decoration: none;  
}

.bottom-bar {
  width: 100%;
  height: 69px;
  background: #444444;
  margin: 0;
  padding: 0;
}
.credits {
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
}

.bottom-bar .credits {
  margin: 0;
  padding: 20px 0; 
}

@media screen and (max-width: 1300px){
  .menu{
    display: none;
  }
  .burger{
    display: block;
  }
}

@media screen and (max-width: 768px){
  .footer-content{
    flex-direction: column;
  } 
  
  .burger{
    display: block;
  }
 
}